.article-content .list {
	border: 1px solid #78b66f;
	min-height: 600px;
}

.article-content .list-item {
	border-bottom: 1px dashed #78b66f;
	background: url(../image/item.png) no-repeat left center;
	padding-left: 25px;
}

.article-content .list-item a:hover {
	color: #78b66f;
}

.article-content .cate-title {
	border-bottom: 1px solid #78b66f;
	color: #78b66f;
	background: url(../image/title.png) no-repeat 5px center;
}

.wenzhang {
	padding
}