@charset "utf-8";

/*initial*/

* {
    margin: 0px;
    padding: 0px;
    font-family: '微软雅黑', '黑体', '宋体';
}

li {
    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
}

img {
    border: none;
}

.center-container {
    margin: 0px auto;
}

.center-middle-container {
    margin: auto auto;
}

.center-text {
    text-align: center;
}

.middle-text {
    vertical-align: middle;
}

.clear {
    clear: both;
}

.bold {
    font-weight: bold;
}

.block {
    display: block;
}

/*float*/

.fl {
    float: left;
}

.fr {
    float: right;
}

/*position*/
.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

/*font-size*/

.f10 {
    font-size: 10px;
}

.f11 {
    font-size: 11px;
}

.f12 {
    font-size: 12px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.f15 {
    font-size: 15px;
}

.f16 {
    font-size: 16px;
}

.f17 {
    font-size: 17px;
}

.f18 {
    font-size: 18px;
}

.f19 {
    font-size: 19px;
}

.f20 {
    font-size: 20px;
}

.f24 {
    font-size: 24px;
}

.f30 {
    font-size: 30px;
}

.f32 {
    font-size: 32px;
}

.f40 {
    font-size: 40px;
}

/*color*/

.c000 {
    color: #000;
}

.bright-blue {
    color: #0b98de;
}
.c333 {
    color: #333;
}

.c666 {
    color: #666;
}

.c999 {
    color: #999;
}

.cccc {
    color: #ccc;
}

.cf00 {
    color: #f00;
}

.cfafafa {
    color: #fafafa;
}

.cfff {
    color: #fff;
}

/*min-height*/

.mh330 {
    min-height: 330px;
}

/*line-height*/


.lh20 {
    line-height: 20px;
}

.lh24 {
    line-height: 24px;
}

.lh25 {
    line-height: 25px;
}

.lh30 {
    line-height: 30px;
}

.lh39 {
    line-height: 39px;
}

.lh40 {
    line-height: 40px;
}

.lh50 {
    line-height: 50px;
}

.lh58 {
    line-height: 58px;
}

.lh60 {
    line-height: 60px;
}

.lh70 {
    line-height: 70px;
}

/*margin-top*/

.mt2 {
    margin-top: 2px;
}

.mt3 {
    margin-top: 3px;
}

.mt4 {
    margin-top: 4px;
}

.mt5 {
    margin-top: 5px;
}

.mt6 {
    margin-top: 6px;
}

.mt7 {
    margin-top: 7px;
}

.mt8 {
    margin-top: 8px;
}

.mt9 {
    margin-top: 9px;
}

.mt10 {
    margin-top: 10px;
}

.mt11 {
    margin-top: 11px;
}

.mt12 {
    margin-top: 12px;
}

.mt13 {
    margin-top: 13px;
}

.mt14 {
    margin-top: 14px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mt60 {
    margin-top: 60px;
}

.mt65 {
    margin-top: 65px;
}

.mt70 {
    margin-top: 70px;
}

.mt110 {
    margin-top: 110px;
}

.mt150 {
    margin-top: 150px;
}

/*margin-bottom*/

.mb2 {
    margin-bottom: 2px;
}

.mb3 {
    margin-bottom: 3px;
}

.mb4 {
    margin-bottom: 4px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb6 {
    margin-bottom: 6px;
}

.mb7 {
    margin-bottom: 7px;
}

.mb8 {
    margin-bottom: 8px;
}

.mb9 {
    margin-bottom: 9px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb11 {
    margin-bottom: 11px;
}

.mb12 {
    margin-bottom: 12px;
}

.mb13 {
    margin-bottom: 13px;
}

.mb14 {
    margin-bottom: 14px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb60 {
    margin-bottom: 60px;
}

/*margin-left*/

.ml2 {
    margin-left: 2px;
}

.ml3 {
    margin-left: 3px;
}

.ml4 {
    margin-left: 4px;
}

.ml5 {
    margin-left: 5px;
}

.ml6 {
    margin-left: 6px;
}

.ml7 {
    margin-left: 7px;
}

.ml8 {
    margin-left: 8px;
}

.ml9 {
    margin-left: 9px;
}

.ml10 {
    margin-left: 10px;
}

.ml11 {
    margin-left: 11px;
}

.ml12 {
    margin-left: 12px;
}

.ml13 {
    margin-left: 13px;
}

.ml14 {
    margin-left: 14px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml25 {
    margin-left: 25px;
}

.ml27 {
    margin-left: 27px;
}

.ml30 {
    margin-left: 30px;
}

.ml35 {
    margin-left: 35px;
}

.ml40 {
    margin-left: 40px;
}

.ml45 {
    margin-left: 45px;
}

.ml50 {
    margin-left: 50px;
}

.ml58 {
    margin-left: 58px;
}

.ml59 {
    margin-left: 59px;
}

.ml60 {
    margin-left: 60px;
}

.ml65 {
    margin-left: 65px;
}

.ml70 {
    margin-left: 70px;
}

.ml100 {
    margin-left: 100px;
}

.ml135 {
    margin-left: 135px;
}

.ml180 {
    margin-left: 180px;
}
.ml200 {
    margin-left: 200px;
}

/*margin-right*/

.mr2 {
    margin-right: 2px;
}

.mr3 {
    margin-right: 3px;
}

.mr4 {
    margin-right: 4px;
}

.mr5 {
    margin-right: 5px;
}

.mr6 {
    margin-right: 6px;
}

.mr7 {
    margin-right: 7px;
}

.mr8 {
    margin-right: 8px;
}

.mr9 {
    margin-right: 9px;
}

.mr10 {
    margin-right: 10px;
}

.mr11 {
    margin-right: 11px;
}

.mr12 {
    margin-right: 12px;
}

.mr13 {
    margin-right: 13px;
}

.mr14 {
    margin-right: 14px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr25 {
    margin-right: 25px;
}

.mr30 {
    margin-right: 30px;
}

.mr40 {
    margin-right: 40px;
}

.mr50 {
    margin-right: 50px;
}

/*margin*/

.m2 {
    margin: 2px;
}

.m3 {
    margin: 3px;
}

.m4 {
    margin: 4px;
}

.m5 {
    margin: 5px;
}

.m6 {
    margin: 6px;
}

.m7 {
    margin: 7px;
}

.m8 {
    margin: 8px;
}

.m9 {
    margin: 9px;
}

.m10 {
    margin: 10px;
}

.m11 {
    margin: 11px;
}

.m12 {
    margin: 12px;
}

.m13 {
    margin: 13px;
}

.m14 {
    margin: 14px;
}

.m15 {
    margin: 15px;
}

.m20 {
    margin: 20px;
}

.m25 {
    margin: 25px;
}

.m30 {
    margin: 30px;
}

.m40 {
    margin: 40px;
}

.m50 {
    margin: 50px;
}

/*padding-top*/

.pt2 {
    padding-top: 2px;
}

.pt3 {
    padding-top: 3px;
}

.pt4 {
    padding-top: 4px;
}

.pt5 {
    padding-top: 5px;
}

.pt6 {
    padding-top: 6px;
}

.pt7 {
    padding-top: 7px;
}

.pt8 {
    padding-top: 8px;
}

.pt9 {
    padding-top: 9px;
}

.pt10 {
    padding-top: 10px;
}

.pt11 {
    padding-top: 11px;
}

.pt12 {
    padding-top: 12px;
}

.pt13 {
    padding-top: 13px;
}

.pt14 {
    padding-top: 14px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt25 {
    padding-top: 25px;
}

.pt30 {
    padding-top: 30px;
}

.pt35 {
    padding-top: 35px;
}

.pt40 {
    padding-top: 40px;
}

.pt50 {
    padding-top: 50px;
}

.pt60 {
    padding-top: 60px;
}

.pt65 {
    padding-top: 65px;
}

.pt70 {
    padding-top: 70px;
}

.pt80 {
    padding-top: 80px;
}

.pt100 {
    padding-top: 100px;
}

.pt150 {
    padding-top: 150px;
}

.pt160 {
    padding-top: 160px;
}

.pt230 {
    padding-top: 230px;
}

/*margin-bottom*/

.pb2 {
    padding-bottom: 2px;
}

.pb3 {
    padding-bottom: 3px;
}

.pb4 {
    padding-bottom: 4px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb6 {
    padding-bottom: 6px;
}

.pb7 {
    padding-bottom: 7px;
}

.pb8 {
    padding-bottom: 8px;
}

.pb9 {
    padding-bottom: 9px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb11 {
    padding-bottom: 11px;
}

.pb12 {
    padding-bottom: 12px;
}

.pb13 {
    padding-bottom: 13px;
}

.pb14 {
    padding-bottom: 14px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb25 {
    padding-bottom: 25px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb50 {
    padding-bottom: 50px;
}

.pb100 {
    padding-bottom: 100px;
}

/*padding-left*/

.pl2 {
    padding-left: 2px;
}

.pl3 {
    padding-left: 3px;
}

.pl4 {
    padding-left: 4px;
}

.pl5 {
    padding-left: 5px;
}

.pl6 {
    padding-left: 6px;
}

.pl7 {
    padding-left: 7px;
}

.pl8 {
    padding-left: 8px;
}

.pl9 {
    padding-left: 9px;
}

.pl10 {
    padding-left: 10px;
}

.pl11 {
    padding-left: 11px;
}

.pl12 {
    padding-left: 12px;
}

.pl13 {
    padding-left: 13px;
}

.pl14 {
    padding-left: 14px;
}

.pl15 {
    padding-left: 15px;
}

.pl20 {
    padding-left: 20px;
}

.pl25 {
    padding-left: 25px;
}

.pl30 {
    padding-left: 30px;
}

.pl39 {
    padding-left: 39px;
}

.pl40 {
    padding-left: 40px;
}

.pl45 {
    padding-left: 45px;
}

.pl50 {
    padding-left: 50px;
}
.pl60 {
    padding-left: 60px;
}
.pl70 {
    padding-left: 70px;
}

.pl90 {
    padding-left: 90px;
}

.pl100 {
    padding-left: 100px;
}

.pl150 {
    padding-left: 150px;
}

.pl200 {
    padding-left: 200px;
}

/*padding-right*/

.pr2 {
    padding-right: 2px;
}

.pr3 {
    padding-right: 3px;
}

.pr4 {
    padding-right: 4px;
}

.pr5 {
    padding-right: 5px;
}

.pr6 {
    padding-right: 6px;
}

.pr7 {
    padding-right: 7px;
}

.pr8 {
    padding-right: 8px;
}

.pr9 {
    padding-right: 9px;
}

.pr10 {
    padding-right: 10px;
}

.pr11 {
    padding-right: 11px;
}

.pr12 {
    padding-right: 12px;
}

.pr13 {
    padding-right: 13px;
}

.pr14 {
    padding-right: 14px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}

.pr25 {
    padding-right: 25px;
}

.pr30 {
    padding-right: 30px;
}

.pr40 {
    padding-right: 40px;
}

.pr50 {
    padding-right: 50px;
}

/*padding*/

.p1 {
    padding: 1px;
}

.p2 {
    padding: 2px;
}

.p3 {
    padding: 3px;
}

.p4 {
    padding: 4px;
}

.p5 {
    padding: 5px;
}

.p6 {
    padding: 6px;
}

.p7 {
    padding: 7px;
}

.p8 {
    padding: 8px;
}

.p9 {
    padding: 9px;
}

.p10 {
    padding: 10px;
}

.p11 {
    padding: 11px;
}

.p12 {
    padding: 12px;
}

.p13 {
    padding: 13px;
}

.p14 {
    padding: 14px;
}

.p15 {
    padding: 15px;
}

.p20 {
    padding: 20px;
}

.p25 {
    padding: 25px;
}

.p30 {
    padding: 30px;
}

.p40 {
    padding: 40px;
}

.p50 {
    padding: 50px;
}

/*width*/

.w5 {
    width: 5px;
}

.w10 {
    width: 10px;
}

.w15 {
    width: 15px;
}

.w20 {
    width: 20px;
}

.w25 {
    width: 25px;
}

.w30 {
    width: 30px;
}

.w40 {
    width: 40px;
}

.w50 {
    width: 50px;
}

.w60 {
    width: 60px;
}

.w65 {
    width: 65px;
}

.w70 {
    width: 70px;
}

.w80 {
    width: 80px;
}

.w90 {
    width: 90px;
}

.w100 {
    width: 100px;
}

.w130 {
    width: 130px;
}

.w150 {
    width: 150px;
}

.w170 {
    width: 170px;
}

.w200 {
    width: 200px;
}

.w210 {
    width: 210px;
}

.w218 {
    width: 218px;
}

.w220 {
    width: 220px;
}

.w230 {
    width: 230px;
}

.w238 {
    width: 238px;
}

.w240 {
    width: 240px;
}

.w250 {
    width: 250px;
}

.w255 {
    width: 255px;
}

.w260 {
    width: 260px;
}

.w300 {
    width: 300px;
}

.w305 {
    width: 305px;
}

.w307 {
    width: 307px;
}

.w340 {
    width: 340px;
}

.w310 {
    width: 310px;
}

.w360 {
    width: 360px;
}

.w361 {
    width: 361px;
}

.w368 {
    width: 368px;
}

.w378 {
    width: 378px;
}

.w380 {
    width: 380px;
}

.w400 {
    width: 400px;
}

.w418 {
    width: 418px;
}

.w420 {
    width: 420px;
}

.w425 {
    width: 425px;
}

.w440 {
    width: 440px;
}

.w500 {
    width: 500px;
}

.w560 {
    width: 560px;
}

.w600 {
    width: 600px;
}

.w670 {
    width: 670px;
}

.w700 {
    width: 700px;
}

.w740 {
    width: 740px;
}

.w745 {
    width: 745px;
}

.w747 {
    width: 747px;
}

.w760 {
    width: 760px;
}

.w780 {
    width: 780px;
}

.w800 {
    width: 800px;
}

.w900 {
    width: 900px;
}

.w994 {
    width: 994px;
}

.w1000 {
    width: 1000px;
}

.w1050 {
    width: 1050px;
}

.w1070 {
    width: 1070px;
}

.w1100 {
    width: 1100px;
}

.w1116 {
    width: 1116px;
}

.w1200 {
    width: 1200px;
}

.wfull {
    width: 100%;
}

.w80percent {
    width: 80%;
}

/*height*/
.h3 {
    height: 3px;
}

.h5 {
    height: 5px;
}

.h10 {
    height: 10px;
}

.h15 {
    height: 15px;
}

.h20 {
    height: 20px;
}

.h25 {
    height: 25px;
}

.h30 {
    height: 30px;
}

.h35 {
    height: 35px;
}

.h39 {
    height: 39px;
}

.h40 {
    height: 40px;
}

.h45 {
    height: 45px;
}

.h50 {
    height: 50px;
}

.h58 {
    height: 58px;
}

.h54 {
    height: 54px;
}

.h55 {
    height: 55px;
}

.h60 {
    height: 60px;
}

.h70 {
    height: 70px;
}

.h80 {
    height: 80px;
}

.h90 {
    height: 90px;
}

.h95 {
    height: 95px;
}

.h100 {
    height: 100px;
}

.h120 {
    height: 120px;
}

.h123 {
    height: 123px;
}

.h130 {
    height: 130px;
}

.h140 {
    height: 140px;
}

.h150 {
    height: 150px;
}

.h180 {
    height: 180px;
}

.h200 {
    height: 200px;
}

.h210 {
    height: 210px;
}

.h220 {
    height: 220px;
}

.h230 {
    height: 230px;
}

.h250 {
    height: 250px;
}

.h270 {
    height: 270px;
}

.h280 {
    height: 280px;
}

.h288 {
    height: 288px;
}

.h290 {
    height: 290px;
}

.h300 {
    height: 300px;
}

.h310 {
    height: 310px;
}

.h329 {
    height: 329px;
}

.h330 {
    height: 330px;
}

.h350 {
    height: 350px;
}

.h380 {
    height: 380px;
}

.h390 {
    height: 390px;
}

.h400 {
    height: 400px;
}

.h450 {
    height: 450px;
}

.h470 {
    height: 470px;
}

.h480 {
    height: 480px;
}

.h496 {
    height: 496px;
}

.h500 {
    height: 500px;
}

.h510 {
    height: 510px;
}

.h540 {
    height: 540px;
}

.h600 {
    height: 600px;
}

.h640 {
    height: 640px;
}

.h660 {
    height: 660px;
}

.h700 {
    height: 700px;
}

.h800 {
    height: 800px;
}

.h900 {
    height: 900px;
}

.h1000 {
    height: 999px;
}

.h1200 {
    height: 1200px;
}