@charset "utf-8";

.link-border-top {
	border-top: 1px solid #fff;
}

.import-link {
	background: url(../image/link-bg.jpg) no-repeat center center;
}

.import-link ul li a {
	background-color: rgba(221, 234, 242, 0.3);
}

.import-link ul li a:hover {
	background-color: rgba(221, 234, 242, 0);
}

.fast-link ul li {
	border: 1px solid #ccc;
	border-top: none;
}

.fast-link ul li:hover {
	background: #efefef;
}

.link-header {
	background-color: #78b66f;
	border: none !important;
}

.link-header:hover {
	background: #78b66f !important;
}

.intro .title, .contact .title, .achievement .title, .right-block .title {
 	border-bottom: 1px solid #ccc;
 }
.intro p {
	text-indent: 2em;
}

.intro .content img, .achievement .content img {
	border: 1px solid #f3f3f3;
}

.intro .content, .achievement .content {
	padding-bottom: 0px;
}

.intro .content p a, .achievement .content p a {
	color: #78B66F;
}

.right-block .content {
	border: 1px solid #ccc;
	padding-bottom: 0px !important;
}

.right-block .content ul {
	height: 100%;
	display: block;
	overflow: hidden;
}

.divided {
	background-color: #78B66F;
}